@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400|Quicksand:400");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Quicksand:400,500");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400");
footer {
  background-color: var(--porsche);
  position: relative;
  top: 8em;
}

footer .arrow {
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  top: 3em;
  right: 3em;
}

footer .logo-white {
  height: 8em;
  width: 8em;
  position: relative;
  top: 7em;
}

footer .block-footer {
  padding-top: 8em;
}

footer ul {
  list-style-type: none;
}

footer .block-footer {
  padding-left: 3em;
}

footer .icons-footer {
  padding-bottom: 3em;
}

footer .josefinsans-normal-white-16px {
  color: white;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

footer .quicksand-normal-white-10px {
  color: white;
  font-family: "Quicksand";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.x404 .bg {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(/../assets/img/404.jpg);
  background-position: 50% 45%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 12px;
  width: 100%;
  height: 100%;
}

.x404 .text-4 {
  height: 220px;
  letter-spacing: 0px;
  margin-left: 4px;
  margin-top: 370px;
  min-height: 142px;
  width: 311px;
}

.josefinsans-bold-porsche-150px {
  color: var(--porsche);
  font-family: "Josefin Sans", Helvetica;
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-porsche-55px {
  color: var(--porsche);
  font-family: "Josefin Sans", Helvetica;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

:root {
  --porsche: rgba(236, 163, 107, 1);
  --white: rgba(255, 255, 255, 0.16);
}

.valign-text-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1em;
  -ms-flex-item-align: center;
      align-self: center;
}

header .nav-bar {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 2em;
  -ms-flex-item-align: center;
      align-self: center;
}

header .pawchontli-icon {
  height: 5em;
  width: 5em;
}

header .heart {
  height: 3em;
  width: 3em;
  padding-right: 1em;
}

header .menu {
  height: 2em;
  width: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.top-background .close {
  height: 3em;
  width: 3em;
  position: relative;
  top: 0.5em;
  left: 1em;
}

.top-background .background-orange {
  background-color: var(--porsche);
  height: 500px;
  width: 100%;
  position: absolute;
  top: 5em;
}

.top-background .rectangle-background {
  background-color: white;
  border-radius: 15px;
  height: 500px;
  width: 100%;
  position: absolute;
  top: 9em;
}

.title {
  letter-spacing: 0px;
  min-height: 60px;
  min-width: 200px;
  text-align: center;
  position: relative;
  top: 70px;
}

.title .josefinsans-normal-black-30px {
  color: black;
  font-family: "Josefin Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.group-form {
  position: relative;
  top: 4em;
}

.group-form ul {
  list-style-type: none;
  margin-right: 2em;
}

.group-form ul li {
  padding-top: 1em;
  margin-left: 5em;
  margin-right: 5em;
}

.group-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.group-form p {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

.group-form .overlap-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-lilac);
  border-radius: 15px;
  height: 60px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.group-form .input-base {
  letter-spacing: 0.00px;
  min-height: 16px;
}

.group-form .border-2px-chetwode-blue {
  border: 2px solid var(--chetwode-blue);
}

.group-form .josefinsans-normal-chetwode-blue-16px {
  color: var(--chetwode-blue);
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.group-form .josefinsans-normal-chetwode-blue-20px {
  color: var(--chetwode-blue);
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.button-primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--porsche);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  overflow: hidden;
  padding: 0 140px;
  width: 343px;
  display: block;
  margin-top: 1em;
}

.button-primary .button-p {
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 61px;
  text-align: center;
}

.button-primary .josefinsans-normal-white-20px {
  color: white;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

footer {
  background-color: var(--porsche);
  position: relative;
  top: 8em;
}

footer .arrow {
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  top: 3em;
  right: 3em;
}

footer .logo-white {
  height: 8em;
  width: 8em;
  position: relative;
  top: 7em;
}

footer .block-footer {
  padding-top: 8em;
}

footer ul {
  list-style-type: none;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .block-footer {
  padding-left: 3em;
}

footer .icons-footer {
  padding-bottom: 2em;
}

footer .josefinsans-normal-white-16px {
  color: white;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

footer .quicksand-normal-white-10px {
  color: white;
  font-family: "Quicksand";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

:root {
  --chetwode-blue: rgba(118, 126, 237, 1);
  --white-lilac: rgba(246, 247, 251, 1);
  --porsche: rgba(236, 163, 107, 1);
}

.file-upload {
  background-color: white;
  width: 25em;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
}

.file-upload-content {
  display: none;
  text-align: center;
  border-radius: 15px;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  border-radius: 15px;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 1px dashed var(--chetwode-blue);
  border-radius: 15px;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: var(--chetwode-blue);
  border: 1px dashed white;
  color: white;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: var(--chetwode-blue);
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  color: var(--chetwode-blue);
  padding: 40px 0;
}

.drag-text h3:hover {
  color: white;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: white;
  background: var(--chetwode-blue);
  border: none;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 4px solid var(--chetwode-blue);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  outline: none;
}

.remove-image:hover {
  background: var(--chetwode-blue);
  color: white;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.josefinsans-medium-chetwode-blue-14px {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: var(--chetwode-blue);
}

:root {
  --chetwode-blue: rgba(118, 126, 237, 1);
  --white-lilac: rgba(246, 247, 251, 1);
  --porsche: rgba(236, 163, 107, 1);
}

.top-main .background-main {
  background-color: var(--porsche);
  height: 150px;
  width: 100%;
}

.top-main .background-main p {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.top-main .background-main .josefinsans-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.top-main .rectangle-background {
  background-color: white;
  border-radius: 15px;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 12em;
}

.adoption-requests {
  padding-left: 3em;
  margin-right: 3em;
}

.adoption-requests .card {
  background-color: var(--chetwode-blue);
  border-color: none;
  border-radius: 15px;
}

.adoption-requests .card a {
  text-decoration: none;
}

.adoption-requests .card .requests-number {
  padding-top: 2em;
}

.adoption-requests .card .title-requests {
  padding-bottom: 2em;
}

.adoption-requests .card .josefinsans-semi-white-30px {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.adoption-requests .card .josefinsans-semi-white-20px {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.add-new-pet {
  padding-left: 3em;
  margin-right: 3em;
}

.add-new-pet .card {
  border-color: var(--chetwode-blue);
  border-radius: 15px;
  background-color: var(--chetwode-blue);
}

.add-new-pet .card a {
  color: white;
  text-decoration: none;
}

.add-new-pet .card .josefinsans-medium-chetwode-blue-20px {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: white;
}

:root {
  --chetwode-blue: rgba(118, 126, 237, 1);
  --white-lilac: rgba(246, 247, 251, 1);
  --porsche: rgba(236, 163, 107, 1);
}

.welcome {
  background-image: url(../assets/img/index.jpg);
  background-size: cover;
  background-position: 50% 45%;
}

.welcome .text-1 {
  letter-spacing: 0px;
  min-height: 7px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 202px;
  margin-left: 2em;
  padding-top: 2em;
}

.welcome .josefinsans-normal-white-30px {
  color: white;
  font-family: var(--font-family-josefin_sans);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.welcome a {
  text-decoration: none;
  padding-top: 13em;
  padding-bottom: 3.5em;
}

.welcome a .button-primary {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome a .josefinsans-semi-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

.finder {
  background-color: var(--porsche);
  padding: 1em;
}

.finder .find {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.finder .pet {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.finder a {
  text-decoration: none;
}

.finder .quicksand-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.pets-anounce {
  padding-top: 3em;
}

.pets-anounce .josefinsans-semi-bold-chetwode-blue-24px {
  color: var(--chetwode-blue);
  font-family: var(--font-family-josefin_sans);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 2em;
  padding-right: 2em;
}

.scrolling-wrapper .card {
  display: inline-block;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.scrolling-wrapper .card .card-img-top {
  border-radius: 15px 15px 0px 0px;
}

.scrolling-wrapper .josefinsans-semi-bold-chetwode-blue-16px {
  color: var(--chetwode-blue);
  font-family: var(--font-family-josefin_sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.ico {
  border-radius: 50%;
  cursor: pointer;
  fill: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: var(--chetwode-blue);
  position: absolute;
  top: 1em;
  right: 1.5em;
}

.liked {
  -webkit-transform: scale(1.05) rotate(360deg);
          transform: scale(1.05) rotate(360deg);
  background-color: var(--chetwode-blue);
  padding: .8rem;
  fill: white;
}

.shelter-register {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--porsche);
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 216px;
  padding: 36px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 4em;
}

.shelter-register a {
  text-decoration: none;
}

.shelter-register .button-white {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2px;
  min-width: 327px;
  padding: 0 120px;
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 85px;
  text-align: center;
}

.shelter-register .josefinsans-normal-porsche-25px {
  color: var(--porsche);
  font-family: var(--font-family-josefin_sans);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.shelter-register .josefinsans-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.shelter-register .josefinsans-semi-bold-chetwode-blue-20px {
  color: var(--chetwode-blue);
  font-family: var(--font-family-josefin_sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.donations {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--chetwode-blue);
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 216px;
  padding: 36px 0;
  margin-left: auto;
  margin-right: auto;
}

.donations a {
  text-decoration: none;
}

.donations .button-white {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2px;
  min-width: 327px;
  padding: 0 120px;
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 85px;
  text-align: center;
}

.donations .josefinsans-button-white-25px {
  color: var(--chetwode-blue);
  font-family: var(--font-family-josefin_sans);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.donations .josefinsans-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.donations .quicksand-regular-white-20px {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
}

:root {
  --font-family-josefin_sans: "Josefin Sans", Helvetica;
  --font-family-quicksand: "Quicksand", Helvetica;
  --font-size-m: 16px;
  --font-size-xxxxl: 35px;
  --chetwode-blue: rgba(118, 126, 237, 1);
  --porsche: rgba(236, 163, 107, 1);
  --white: rgba(255, 255, 255, 1);
}

.log-in {
  position: relative;
  padding-top: 3em;
  text-align: center;
}

.log-in a {
  position: fixed;
  right: 4em;
}

.group-form {
  position: relative;
  top: 4em;
}

.group-form ul {
  list-style-type: none;
  margin-right: 2em;
}

.group-form ul li {
  padding-top: 1em;
  margin-left: 5em;
  margin-right: 5em;
}

.group-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.group-form p {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

.group-form .overlap-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-lilac);
  border-radius: 15px;
  height: 60px;
  width: 70vw;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.group-form .input-base {
  letter-spacing: 0.00px;
  min-height: 16px;
}

.group-form .border-2px-chetwode-blue {
  border: 2px solid var(--chetwode-blue);
}

.group-form .josefinsans-normal-chetwode-blue-16px {
  color: var(--chetwode-blue);
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.group-form .josefinsans-normal-chetwode-blue-20px {
  color: var(--chetwode-blue);
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.button-primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--porsche);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  overflow: hidden;
  padding: 0 140px;
  width: 343px;
  display: block;
  margin-top: 1em;
}

.button-primary .button-p {
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 61px;
  text-align: center;
}

.button-primary .josefinsans-normal-white-20px {
  color: white;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.top .background-orange {
  background-color: var(--porsche);
  height: 6em;
}

.top .josefinsans-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.top .location {
  width: 2em;
  height: 2em;
  position: relative;
  top: -4em;
  left: 1.5em;
}

.top p {
  position: relative;
  top: -3.25em;
  left: 2.5em;
}

.filter-options a {
  text-decoration: none;
}

.filter-options .button-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 60px;
  width: 10em;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3em;
}

.filter-options .pet-tag {
  background-color: var(--chetwode-blue);
  border-radius: 15px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10em;
}

.filter-options .pet-tag .text-tag {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 1em;
}

.filter-options .pet-tag .josefinsans-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.filter-options .delete-all {
  background-color: white;
  border: white;
  color: var(--chetwode-blue);
  font-weight: 600;
}

.search-pet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 2em;
  padding-right: 2em;
}

.search-pet .card {
  display: inline-block;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.search-pet .card .card-img-top {
  border-radius: 8px 8px 0px 0px;
}

.search-pet .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-pet .josefinsans-semi-bold-chetwode-blue-16px {
  color: var(--chetwode-blue);
  font-family: var(--font-family-josefin_sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.publicity {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--porsche);
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 216px;
  padding: 36px 0;
  margin-left: auto;
  margin-right: auto;
}

.publicity a {
  text-decoration: none;
}

.publicity .button-white {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2px;
  min-width: 327px;
  padding: 0 120px;
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 85px;
  text-align: center;
}

.publicity .quicksand-regular-white-20px {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
}

.publicity .josefinsans-normal-porsche-25px {
  color: var(--porsche);
  font-family: var(--font-family-josefin_sans);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.publicity .josefinsans-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: var(--chetwode-blue);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: var(--cyan);
}

:root {
  --font-family-josefin_sans: "Josefin Sans", Helvetica;
  --font-family-quicksand: "Quicksand", Helvetica;
  --font-size-m: 16px;
  --font-size-xxxxl: 35px;
  --cyan: #C4F7F4;
  --chetwode-blue: rgba(118, 126, 237, 1);
  --porsche: rgba(236, 163, 107, 1);
  --white: rgba(255, 255, 255, 1);
}

.josefinsans-normal-black-30px {
  color: black;
  font-family: "Josefin Sans", Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.josefinsans-normal-chetwode-blue-16px {
  color: var(--chetwode-blue);
  font-family: "Josefin Sans", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.login-i571442324 {
  letter-spacing: 0px;
  margin-bottom: 4px;
  margin-left: 20px;
  min-height: 16px;
  min-width: 62px;
  text-align: right;
}

.page-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  overflow: hidden;
  width: 343px;
}

.sign-up-i57144232 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  letter-spacing: 0px;
  margin-bottom: -24px;
  min-height: 60px;
  min-width: 177px;
  text-align: center;
}

:root {
  --chetwode-blue: rgba(118, 126, 237, 1);
}

.border-2px-chetwode-blue {
  border: 2px solid var(--chetwode-blue);
}

.dropdown-indicator {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  overflow: hidden;
  width: 343px;
}

.josefinsans-normal-chetwode-blue-16px {
  color: var(--chetwode-blue);
  font-family: "Josefin Sans", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.overlap-group {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--white-lilac);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 51px;
  margin-bottom: -0.91px;
  min-width: 343px;
  padding: 11px 22px;
}

.vegetables-i486371 {
  letter-spacing: 0px;
  min-height: 16px;
}

:root {
  --chetwode-blue: rgba(118, 126, 237, 1);
  --white-lilac: rgba(246, 247, 251, 1);
}

.border-2px-chetwode-blue {
  border: 2px solid var(--chetwode-blue);
}

.dropdown-indicator {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  overflow: hidden;
  width: 343px;
}

.josefinsans-normal-chetwode-blue-16px {
  color: var(--chetwode-blue);
  font-family: "Josefin Sans", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.overlap-group {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--white-lilac);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 51px;
  margin-bottom: -0.91px;
  min-width: 343px;
  padding: 11px 22px;
}

.vegetables-i486431 {
  letter-spacing: 0px;
  min-height: 16px;
}

:root {
  --chetwode-blue: rgba(118, 126, 237, 1);
  --white-lilac: rgba(246, 247, 251, 1);
}

.border-2px-chetwode-blue {
  border: 2px solid var(--chetwode-blue);
}

.dropdown-indicator {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  overflow: hidden;
  width: 343px;
}

.josefinsans-normal-chetwode-blue-16px {
  color: var(--chetwode-blue);
  font-family: "Josefin Sans", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.overlap-group {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--white-lilac);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 51px;
  margin-bottom: -0.91px;
  min-width: 343px;
  padding: 11px 22px;
}

.vegetables-i486481 {
  letter-spacing: 0px;
  min-height: 16px;
}

:root {
  --chetwode-blue: rgba(118, 126, 237, 1);
  --white-lilac: rgba(246, 247, 251, 1);
}

.button-primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--porsche);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 0 128px;
  width: 343px;
}

.josefinsans-normal-white-20px {
  color: white;
  font-family: "Josefin Sans", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.sign-up-i51314421 {
  letter-spacing: 0px;
  min-height: 20px;
  min-width: 85px;
  text-align: center;
}

:root {
  --porsche: rgba(236, 163, 107, 1);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
/*# sourceMappingURL=style.css.map */