.owl-carousel {

    .card {
        display: inline-block;
        border-radius: 8px 8px 0px 0px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

        .card-img-top {
            border-radius: 8px 8px 0px 0px;
        }
    }

    a{
        text-decoration: none;
    }

    .josefinsans-semi-bold-chetwode-blue-16px {
        color: var(--chetwode-blue);
        font-family: var(--font-family-josefin_sans);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }
}