.content {
    a{
        color: var(--porsche);
        text-decoration: none;
    }
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
    --white-lilac: rgba(246, 247, 251, 1);
    --porsche: rgba(236, 163, 107, 1);
    --cyan: #C4F7F4;
    --chetwode-white:#9CA2F6;
}