//Top

.top-adoption{
    background-color: var(--porsche);
    padding-top: 2em;
    padding-bottom: 3em;

    .josefinsans-normal-white-30px {
        color: var(--white);
        font-family: var(--font-family-josefin_sans);
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
    }
}

.rectangle-background-adoption{
    background-color:white;
    height: 40px;
    border-radius: 15px;
    position: relative;
    top: -2em;
}


//Collapsible

.collapsible {
    background-color:var(--chetwode-blue);
    color: white;
    cursor: pointer;
    width: 80%;
    border: none;
    border-radius: 15px;
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-top: 1.5em;
    font-family: 'Josefin sans';

    .image-pet{
        border-radius: 15px 0px 0px 15px;
        position: relative;
        left: -0.4em;
        border: 3px dotted white;
    }

}

// .collapsible:hover {
//     background-color:var(--chetwode-white);
//     color: white;
// }

.active, collapsible:hover{
    background-color:var(--chetwode-white);
    color: white;
    border-radius: 15px 15px 0px 0px;

    .arrow-white{
        transform: rotate(180deg);
    }
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    border: 2px solid;
    border-color: var(--chetwode-white);
    width: 80%;
    border-radius: 0px 0px 15px 15px;

    .josefinsans-chetwode-blue-18px {
        color: var(--chetwode-blue);
        font-family: "Josefin Sans";
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0px;
        min-height: 12px;
    }

    .question{
        color: var(--chetwode-blue);
    }
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
    --white-lilac: rgba(246, 247, 251, 1);
    --porsche: rgba(236, 163, 107, 1);
    --cyan: #C4F7F4;
    --chetwode-white:#9CA2F6;
}