.button-p {
    background-color: var(--porsche);
    border-radius: 15px;
    height: 55px;
    overflow: hidden;
    padding: 0 140px;
    width: 343px;
    margin-top: 1em;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}