// Detail pet

.detail-pet{
    background-color:var(--porsche);
    padding-bottom: 5em;

    .arrow-left{
        position: absolute;
        top: 2em;
        left: 2em;
    }

    .image-pet{
        position: relative;
        top: 1em;
        box-shadow: 0px -5px -5px rgba(0, 0, 0, 0.1);
        // Acomodar responsivo.
    }

    h2{
        padding-top: 1.5em;
        padding-bottom: 0.5em;
        padding-left: 15%;
    }

    .rectangle-background {
        background-color: white;
        border-radius: 15px;
        width: 80%;
        position: relative;
        top: -2em;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    }

    .user-actions{
        padding-top: 4em;

        .button-main{
            justify-content: center;
            height: 64px;
        }
    }

    .info-shelter{

        margin-left: auto;
        margin-right: auto;

        a{
            text-decoration: none;
            color: black;

            img{
                border-radius: 100px;
            }
        }

        .text-shelter{
            padding-left: 1em;
        }
    }

    .josefinsans-normal-black-30px {
        color: black;
        font-family: var(--font-family-josefin_sans);
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
    }

    .josefinsans-chetwode-blue-18px {
        color: var(--chetwode-blue);
        font-family: "Josefin Sans";
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0px;
        min-height: 12px;
        width: 54px;
    }
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
    --white-lilac: rgba(246, 247, 251, 1);
    --porsche: rgba(236, 163, 107, 1);
}