// Detail pet


.pet-view {
    background-color: var(--chetwode-blue);

    .rectangle-background {
        background-color: white;
        border-radius: 15px;
        position: relative;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
    }

    .detail-pet {
        background-size: cover;
        border-radius: 15px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        .arrow-left {
            position: relative;
            right: 12em;
            top: 4em;
        }

        .image-pet {
            position: relative;
            box-shadow: 0px -5px -5px rgba(0, 0, 0, 0.1);
            margin-right: auto;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
            object-fit: cover;

            img {
                border-radius: 15px;
                width: 40vw;
                min-width: 35em;
                height: auto;
            }
        }

        .info-pet {
            width: 50vw;
        }

        h2 {
            padding-top: 1em;
            padding-bottom: 0.5em;
            padding-left: 15%;
        }

        .josefinsans-normal-black-30px {
            color: black;
            font-family: var(--font-family-josefin_sans);
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
        }

        .josefinsans-chetwode-blue-18px {
            color: var(--chetwode-blue);
            font-family: "Josefin Sans";
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0px;
            min-height: 12px;
            width: 54px;
        }
    }

    .pet-actions {
        position: relative;
        top: 3em;
        grid-template-columns: auto auto;

        .button-main {
            justify-content: center;
            height: 64px;
        }

        .shelter-text {
            text-align: start;
            margin-bottom: 3em;
            margin-right: auto;
            margin-left: auto;

            a {
                text-decoration: none;
                color: black;

                img {
                    border-radius: 100px;
                }
            }

            .text-shelter {
                padding-left: 1em;
            }

        }
    }
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
    --white-lilac: rgba(246, 247, 251, 1);
    --porsche: rgba(236, 163, 107, 1);
}