.user-form{
    .josefinsans-normal-chetwode-blue-20px {
        color: var(--chetwode-blue);
        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }

    form{
        ::placeholder{
            color: var(--chetwode-blue)
        }
    }
}