.group {
    height: 44px;
    width: 40px;
}

.vector {
    height: 21px;
    width: 25px;
}


.background {
    background-color: var(--porsche);
    height: 83px;
    width: 375px;
}

:root {
    --porsche: rgba(236, 163, 107, 1);
}

.rectangle-245 {
    background-color: white;
    border-radius: 15px;
    height: 1023px;
    width: 375px;
}

.josefinsans-normal-black-30px {
    color: black;
    font-family: "Josefin Sans", Helvetica;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

.log-in-i483761442 {
    letter-spacing: 0px;
    min-height: 30px;
    min-width: 250px;
    text-align: center;
}

.overlap-group {
    height: 35px;
    position: relative;
    width: 37px;
}

.vector {
    height: 35px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 37px;
}

.vector-1 {
    height: 13px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 15px;
}

.vector-2 {
    height: 1px;
    left: 18px;
    position: absolute;
    top: 17px;
    width: 1px;
}

.x-circle {
    align-items: center;
    display: flex;
    height: 43px;
    padding: 0 4px;
    width: 45px;
}

.josefinsans-normal-black-30px {
    color: black;
    font-family: "Josefin Sans", Helvetica;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

.log-in-i483761442 {
    letter-spacing: 0px;
    min-height: 30px;
    min-width: 250px;
    text-align: center;
}

.border-2px-chetwode-blue {
    border: 2px solid var(--chetwode-blue);
}

.dropdown-indicator {
    align-items: flex-end;
    display: flex;
    height: 60px;
    overflow: hidden;
    width: 343px;
}

.forward {
    align-self: center;
    height: 10px;
    margin-bottom: 9.13px;
    margin-left: 237px;
    width: 4px;
}

.josefinsans-normal-chetwode-blue-16px {
    color: var(--chetwode-blue);
    font-family: "Josefin Sans", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.overlap-group {
    align-items: flex-start;
    background-color: var(--white-lilac);
    border-radius: 16px;
    display: flex;
    height: 61px;
    margin-bottom: -1.09px;
    min-width: 343px;
    padding: 16px 22px;
}

.vegetables-i486261 {
    letter-spacing: 0px;
    min-height: 16px;
    min-width: 53px;
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
    --white-lilac: rgba(246, 247, 251, 1);
}

.josefinsans-normal-chetwode-blue-20px {
    color: var(--chetwode-blue);
    font-family: "Josefin Sans", Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.text-1 {
    letter-spacing: 0px;
    min-height: 20px;
    min-width: 236px;
    text-align: center;
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
}

.border-2px-chetwode-blue {
    border: 2px solid var(--chetwode-blue);
}

.dropdown-indicator {
    align-items: flex-end;
    display: flex;
    height: 60px;
    overflow: hidden;
    width: 343px;
}

.josefinsans-normal-chetwode-blue-16px {
    color: var(--chetwode-blue);
    font-family: "Josefin Sans", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.overlap-group {
    align-items: flex-start;
    background-color: var(--white-lilac);
    border-radius: 16px;
    display: flex;
    height: 61px;
    margin-bottom: -1.09px;
    min-width: 343px;
    padding: 16px 22px;
}

.vegetables-i887556 {
    letter-spacing: 0px;
    min-height: 16px;
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
    --white-lilac: rgba(246, 247, 251, 1);
}

.border-2px-chetwode-blue {
    border: 2px solid var(--chetwode-blue);
}

.dropdown-indicator {
    background-color: var(--white-lilac);
    border-radius: 6px;
    height: 22px;
    width: 22px;
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
    --white-lilac: rgba(246, 247, 251, 1);
}


.josefinsans-normal-chetwode-blue-20px {
    color: var(--chetwode-blue);
    font-family: "Josefin Sans", Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.text-1 {
    letter-spacing: 0px;
    min-height: 40px;
    min-width: 282px;
    text-decoration: underline;
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
}

.border-1px-chetwode-blue {
    border: 1px solid var(--chetwode-blue);
}

.component-12 {
    align-items: flex-start;
    display: flex;
    width: 316px;
}

.josefinsans-bold-chetwode-blue-14px {
    color: var(--chetwode-blue);
    font-family: "Josefin Sans", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.mask {
    border-radius: 25px;
    height: 180px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 316px;
}

.oval {
    height: 1px;
    left: 152px;
    position: absolute;
    top: 70px;
    width: 1px;
}

.oval-1 {
    height: 48px;
    left: 133px;
    position: absolute;
    top: 46px;
    width: 49px;
}

.overlap-group {
    border-radius: 25px;
    height: 180px;
    position: relative;
    width: 316px;
}

.path {
    height: 18px;
    left: 148px;
    position: absolute;
    top: 61px;
    width: 19px;
}

.text-i88756148404 {
    left: 83px;
    letter-spacing: 0px;
    position: absolute;
    text-align: center;
    top: 109px;
    width: 152px;
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
}

.button-primary {
    align-items: center;
    background-color: var(--porsche);
    border-radius: 15px;
    display: flex;
    height: 52px;
    overflow: hidden;
    padding: 0 132px;
    width: 343px;
}

.josefinsans-normal-white-20px {
    color: white;
    font-family: "Josefin Sans", Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.log-in-i483791442 {
    letter-spacing: 0px;
    min-height: 20px;
    min-width: 77px;
    text-align: center;
}

:root {
    --porsche: rgba(236, 163, 107, 1);
}

.arrow-up {
    align-items: center;
    display: flex;
    height: 32px;
    left: 323px;
    min-width: 32px;
    padding: 0 6px;
    position: absolute;
    top: 19px;
}

.background {
    background-color: var(--porsche);
    height: 551px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 375px;
}

.facebook-logo {
    align-items: flex-end;
    display: flex;
    height: 32px;
    left: 58px;
    min-width: 32px;
    padding: 3px 3px;
    position: absolute;
    top: 412px;
}

.footer {
    align-items: flex-start;
    display: flex;
    width: 375px;
}

.github-logo {
    align-items: flex-end;
    display: flex;
    height: 32px;
    left: 277px;
    min-width: 32px;
    padding: 2px 4px;
    position: absolute;
    top: 412px;
}

.group {
    height: 70px;
    left: 154px;
    position: absolute;
    top: 70px;
    width: 69px;
}

.instagram-logo {
    align-items: center;
    display: flex;
    height: 32px;
    left: 204px;
    min-width: 32px;
    padding: 0 3px;
    position: absolute;
    top: 412px;
}

.josefinsans-normal-white-16px {
    color: white;
    font-family: "Josefin Sans", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.overlap-group {
    height: 551px;
    position: relative;
    width: 375px;
}

.overlap-group-1 {
    height: 26px;
    position: relative;
    width: 26px;
}

.overlap-group1 {
    height: 27px;
    position: relative;
    width: 24px;
}

.overlap-group3 {
    height: 23px;
    position: relative;
    width: 27px;
}

.overlap-group4 {
    height: 24px;
    position: relative;
    width: 20px;
}

.perros {
    left: 81px;
    letter-spacing: 0px;
    position: absolute;
    text-align: center;
    top: 177px;
}

.quicksand-normal-white-10px {
    color: white;
    font-family: "Quicksand", Helvetica;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.text-1 {
    left: 49px;
    letter-spacing: 0px;
    position: absolute;
    top: 164px;
}

.text-2 {
    left: 49px;
    letter-spacing: 0px;
    position: absolute;
    top: 298px;
}

.text-3 {
    left: 73px;
    letter-spacing: 0px;
    opacity: 0.65;
    position: absolute;
    top: 489px;
    width: 231px;
}

.twitter-logo {
    align-items: flex-end;
    display: flex;
    height: 32px;
    justify-content: flex-end;
    left: 131px;
    min-width: 32px;
    padding: 4px 0.7px;
    position: absolute;
    top: 412px;
}

.vector {
    height: 11px;
    left: 13px;
    position: absolute;
    top: 16px;
    width: 6px;
}

.vector-1 {
    height: 1px;
    left: 13px;
    position: absolute;
    top: 13px;
    width: 1px;
}

.vector-10 {
    height: 1px;
    left: 12px;
    position: absolute;
    top: 13px;
    width: 1px;
}

.vector-11 {
    height: 9px;
    left: 14px;
    position: absolute;
    top: 16px;
    width: 10px;
}

.vector-12 {
    height: 2px;
    left: 8px;
    position: absolute;
    top: 14px;
    width: 10px;
}

.vector-13 {
    height: 1px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 1px;
}

.vector-14 {
    height: 18px;
    left: 2px;
    position: absolute;
    top: 0px;
    width: 20px;
}

.vector-15 {
    height: 3px;
    left: 18px;
    position: absolute;
    top: 5px;
    width: 3px;
}

.vector-16 {
    height: 19px;
    left: 12px;
    position: absolute;
    top: 7px;
    width: 7px;
}

.vector-2 {
    height: 26px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 26px;
}

.vector-3 {
    height: 11px;
    left: 5px;
    position: absolute;
    top: 16px;
    width: 6px;
}

.vector-4 {
    height: 12px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 12px;
}

.vector-5 {
    height: 9px;
    left: 0px;
    position: absolute;
    top: 16px;
    width: 10px;
}

.vector-6 {
    height: 23px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 27px;
}

.vector-7 {
    height: 11px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 20px;
}

.vector-8 {
    height: 1px;
    left: 10px;
    position: absolute;
    top: 12px;
    width: 1px;
}

.vector-9 {
    height: 24px;
    left: 9px;
    position: absolute;
    top: 0px;
    width: 2px;
}

:root {
    --porsche: rgba(236, 163, 107, 1);
}