//Form

.shelter-form{
    .josefinsans-normal-chetwode-blue-20px {
        color: var(--chetwode-blue);
        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }

    form{
        ::placeholder{
            color: var(--chetwode-blue)
        }
    }
}

.josefinsans-medium-chetwode-blue-14px{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: var(--chetwode-blue);
}

:root {
    --chetwode-blue: rgba(118, 126, 237, 1);
    --white-lilac: rgb(24, 38, 95);
    --porsche: rgba(236, 163, 107, 1);
}