// Title 
.log-in {
    position: relative;
    padding-top: 3em;
    text-align: center;

    a {
        position: fixed;
        right: 4em;
    }
}

// Form

.group-form {
    position: relative;
    top: 4em;

    ul {
        list-style-type: none;
        margin-right: 2em;

        li {
            padding-top: 1em;
            margin-left: 5em;
            margin-right: 5em;
            // Acomodar responsivo en pantallas medianas.
        }
    }

    label {
        display: flex;
        flex-wrap: wrap;
    }

    p {
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        text-justify: inter-word;
        // Acomodar responsivo en pantallas grandes y medianas.
    }

    .overlap-group {
        display: flex;
        align-items: center;
        background-color: var(--white-lilac);
        border-radius: 15px;
        height: 60px;
        width: 70vw;
        display: flex;
        justify-content: center;
    }

    .input-base {
        &.is-invalid {
            border: 2px solid red;
            color: red;
        }
    }

    ::placeholder {
        color: var(--chetwode-blue)
    }

    .border-2px-chetwode-blue {
        border: 2px solid var(--chetwode-blue);
    }

    .josefinsans-normal-chetwode-blue-16px {
        color: var(--chetwode-blue);
        font-family: "Josefin Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .josefinsans-normal-chetwode-blue-20px {
        color: var(--chetwode-blue);
        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }
}

//Button

.button-primary {
    align-items: center;
    background-color: var(--porsche);
    border-radius: 15px;
    display: flex;
    height: 55px;
    overflow: hidden;
    padding: 0 140px;
    width: 343px;
    display: block;
    margin-top: 1em;
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    // border-radius: 15px;

    .button-p {
        letter-spacing: 0px;
        min-height: 20px;
        min-width: 61px;
        text-align: center;
    }

    .josefinsans-normal-white-20px {
        color: white;
        font-family: "Josefin Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }
}